# data folder
dataset/
checkpoints/
log/
indices.json

# language model weights
config.json
*.safetensors
special_tokens_map.json
tokenizer_config.json
tokenizer.json
*.bin
vocab.txt

# graph model weights
*.npz
*.pt
*.pth

# OS
.DS_Store
.vscode
__pycache__/

# logs
*.out
*.log

