ipykernel
tqdm
pandas
matplotlib
numpy
scikit-learn
torch
torchvision
torch-geometric
evaluate
accelerate
transformers
sentencepiece
tiktoken
datasets

# GCP Vertex AI Gemini API
google-cloud-aiplatform
vertexai